.client__container{
	width:450px;
	height:20em;
	margin:0px;
	padding:0px;

	& .client__content{
		height:100%;
		display:flex;
		align-items:end;
		justify-content:space-evenly;
		
		& .cliente{
			width:65px;
			
			& .face{
				border-radius:15px 15px 0px 0px;
				padding:3px 5px;
				font-size:150%;
				height:100px;
				width:60px;
				display:flex;
				justify-content:center;
				align-items:start;
				transform:translate(0%,0%);
				border-bottom:0px !important;
			}
			
			& .orders{
				display:flex;
				transform:translate(20px, -8px);
				flex-direction:column;
				border-radius:15px;
				width:fit-content;
				gap:5px;
				& .order{
					background-color:#fff;
					padding:4px;
					border-radius:10px;
				}
			}
		}
	}
}