*{
	margin:0px;
	padding:0px;
	
}

html,body{
	height:100rem;
	width:100rem;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

.game__container{
	border:2px solid #445566;
	width:100em;
	height:100em;
	background-color:#494959;
}

.game__content{
	width:100vw;
	height:100%;
	display:flex;
	flex-direction:column;
}